<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <label>
    <span>Ваше имя</span>
    <input
      type="text"
      placeholder="просто имя, без фамилии"
      name="name"
      [(ngModel)]="user.name">
  </label>
  <!--!!!-->
  <div ngModelGroup="info">
    <label>
      <span>Электропочта</span>
      <input
        type="email"
        name="email"
        [(ngModel)]="user.info.email">
    </label>
    <label>
      <span>Подтвердите электропочту</span>
      <input
        type="email"
        name="confirm"
        [(ngModel)]="user.info.confirm">
    </label>
  </div>
  <button type="submit">Жмяк!</button>
</form>

<pre><b>f.value: </b>{{f.value | json}}</pre>
<pre><b>user: </b>{{user | json}}</pre>

<table>
  <tr>
    <th>Состояние</th>
    <th>Если true</th>
    <th>Если false</th>
  </tr>
  <tr>
    <td>Контрол был посещен.</td>
    <td><code>ng-touched</code></td>
    <td><code>ng-untouched</code></td>
  </tr>
  <tr>
    <td>Изменилось значение контрола.</td>
    <td><code>ng-dirty</code></td>
    <td><code>ng-pristine</code></td>
  </tr>
  <tr>
    <td>Значение контрола валидно.</td>
    <td><code>ng-valid</code></td>
    <td><code>ng-invalid</code></td>
  </tr>
</table>
